Tatami.sln.DotSettings.user
Tatami.suo
Tatami.v12.suo
packages/*
src/*/bin/*
src/*/obj/*
tests/*/bin/*
tests/*/obj/*
tests/*/FakesAssemblies/*
samples/*/bin/*
samples/*/obj/*
TestResults/*
test
test2
test3