<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="CsvParser.NET" version="0.0.1" targetFramework="net45" xmlns="" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" xmlns="" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" xmlns="" />
</packages>